
.navbar-brand {
    font-family: "Playfair Display", serif;
}
.nav-item {
    font-family: "Playfair Display", serif;
}
body {
    font-family: "Playfair Display", serif;
}
.container {
    max-width: 960px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
}

.imagen-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagen-margen{
    
    margin: 20px;
}
.div-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
}

.img-fluid {
    transition: transform .2s;
}

.img-fluid:hover {
    transform: scale(1.1);
}
